name: Publish NuGet

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: windows-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore & Pack
        run: |
          $version = "${{ github.ref_name }}".TrimStart('v')
          # Usamos una ruta más explícita para evitar errores de carpeta
          dotnet pack ./VideoPlayerApp/VideoPlayerApp.csproj -c Release -o out /p:PackageVersion=$version

      - name: Push to GitHub Packages
        env:
          DOTNET_NUGET_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        # Cambiamos la ruta a ./out/ y usamos una sintaxis más robusta para PowerShell
        run: |
          dotnet nuget push "out\*.nupkg" --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key $env:DOTNET_NUGET_API_KEY --skip-duplicate
